<section class="details-page" *ngIf="!loading">
    <div class="hero-area section-bg2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-area">
                        <div class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
                            <div class="hero-caption hero-caption2">
                                <h2>{{'ProductDetails'| translate}}</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="#">{{'home' | translate}}</a></li>
                                        <li class="breadcrumb-item"><a href="#">{{'ProductDetails'| translate}}</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services-area2 pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-12">

                            <div class="single-services d-flex align-items-center mb-0">
                                <div class="features-img">
                                    <img src="{{data.image}}" alt="">
                                </div>
                                <div class="features-caption">
                                    <h3>{{data.title}} </h3>
                                    <p>{{data.category}} </p>
                                    <div class="price">
                                        <span>{{data?.price}} LE </span>
                                    </div>
                                    <div class="review">
                                        <div class="rating">
                                            {{data?.rating.rate}}
                                            <!-- <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i> -->
                                        </div>
                                        <p>({{data?.rating.count}})</p>
                                    </div>
                                    <div class="addvalue">
                                        <span class="white-btn mr-10">{{'AddtoCart'| translate}}</span>
                                    </div>
                                    <!-- <div *ngIf="addbtn">
                                        <div class="d-flex w-50">

                                            <button class="btn btn-dark">-</button>
                                            <span style="width: 5px;"></span>
                                            <input type="number" class="form-control" min="1">
                                            <span style="width: 5px;"></span>
                                            <button class="btn btn-dark">+</button>

                                        </div>
                                        <button class="d-block btn btn-primary mt-2 mb-2" (click)="addbtn = false">add</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
</div>
