<section class="header-bar">
    <div class="container">
        <div class="menu-bar">
            <div class="logo-img">
                <img src="assets/logo.png.webp" alt="">
            </div>
            <nav class="nave-bar">
                <ul>
                    <li><a href=""> Home</a></li>
                    <span class="w-16"></span>
                    <li><a href="">Men</a></li>
                    <span class="w-16"></span>
                    <li><a href="">Women</a></li>
                    <span class="w-16"></span>
                    <li class="darop-menu"><a href="">Baby Collection</a>
                        <span class="w-5"></span>
                        <i class="fas fa-angle-down"></i>
                        <div class="drop-dawn-menu">
                            <ul>
                                <li>Baby Collection</li>
                                <li>Baby Collection</li>
                                <li>Baby Collection</li>
                                <li>Baby Collection</li>
                            </ul>
                        </div>
                    </li>
                    <span class="w-16"></span>
                    <li><a href="">Pages</a></li>
                </ul>
            </nav>
            <div class="user-interface">
                <ul>
                    <li><i class="fa-solid fa-language"></i></li>
                    <span class="w-16"></span>
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <span class="w-16"></span>
                    <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <span class="w-16"></span>
                    <li><a href=""><i class="fa-regular fa-user"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<div class="fk-height"></div>