<section class="header-bar">
    <div class="container">
        <div class="menu-bar">
            <div class="logo-img">
                <a href="#">
                    <img src="assets/logo.png.webp" alt="">
                </a>
            </div>
            <nav class="nave-bar">
                <ul>
                    <li><a href="#">  {{'home' | translate}}</a></li>
                    <span class="w-16"></span>
                    <li><a routerLink="/first-all-products"> {{'firstapi' | translate}}</a></li>
                    <span class="w-16"></span>
                    <li><a routerLink="/secound-all-products"> {{'secapi' | translate}}</a></li>
                    <span class="w-16"></span>
                    <!-- <li class="darop-menu"><a href="">{{'BabyCollection' | translate}}</a>
                        <span class="w-5"></span>
                        <i class="fas fa-angle-down"></i>
                        <div class="drop-dawn-menu">
                            <ul>
                                <li>Baby Collection</li>
                                <li>Baby Collection</li>
                                <li>Baby Collection</li>
                                <li>Baby Collection</li>
                            </ul>
                        </div>
                    </li> -->
                    <!-- <span class="w-16"></span>
                    <li><a href=""> {{'Pages' | translate}}</a></li>  -->
                </ul>
            </nav>
            <div class="user-interface">
                <ul>
                    <li (click)="dirlang()" *ngIf="status"><i class="fa-solid fa-language"></i></li>
                    <li (click)="lrtlang()" *ngIf="!status"><i class="fa-solid fa-language"></i></li>
                    <span class="w-16"></span>
                    <!-- <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <span class="w-16"></span> -->
                    <li><a routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <span class="w-16"></span>
                    <li><a routerLink="/wishlist"><i class="fa-regular fa-heart"></i></a></li>
                    <span class="w-16"></span>
                    <li><a routerLink="/login"><i class="fa-regular fa-user"></i></a></li>

                </ul>
            </div>
        </div>

    </div>
</section>
<div class="fk-height"></div>