<section class="bunner-product">
    <app-bunner></app-bunner>
</section>
<section class="offers ">
    <section class="ofers-section">
        <div class="description-offers">
            <p>Sale Up To 50% Biggest Discounts. Hurry! Limited Perriod Offer <a href="#" class="browse-btn">Shop Now</a></p>
        </div>
    </section>

</section>
<section class="first-api container">
    <div class="title-option d-flex justify-content-between">
        <h3>get the first type of product</h3>
        <span class="see-more">see more</span>
    </div>
    <div class="first-api-data">
        <app-first-product></app-first-product>
    </div>
</section>